<app-home></app-home>
<div class="container mt-5"> 
    <h4>Notification</h4>

    <div class="container mt-5"> 

    <table class="table table-striped">
        <thead>
            <thead class="table-dark"></thead>
            <tr>
                <th>Username</th>
                <th>Time</th>
                <th>Message</th>
                <th>priority</th>
                <th>Mark as read</th>
            </tr>
        </thead>
        <tbody>
          
            <tr>
                <td>user123</td>
                <td>1:20PM</td>
                <td>Assigned a task</td>
                <td>Medium</td>
                <td><button  class="btn btn-outline-primary" type="submit" >Mark As Read</button></td>
            </tr>
            <tr>
                <td>john_doe</td>
                <td>1:20PM</td>
                <td>Assigned a task</td>
                <td>Medium</td>
                <td><button  class="btn btn-outline-primary" type="submit" >Mark As Read</button></td>
            </tr>
            
            <tr>
                <td>user123</td>
                <td>1:20PM</td>
                <td>Assigned a task</td>
                <td>Medium</td>
                <td><button class="btn btn-outline-primary" type="submit" >Mark As Read</button></td>
            </tr>
            <tr>
                <td>john_doe</td>
                <td>1:20PM</td>
                <td>Assigned a task</td>
                <td>Medium</td>
                <td><button  class="btn btn-outline-primary" type="submit" >Mark As Read</button></td>
            </tr>
            <tr>
                <td>user123</td>
                <td>1:20PM</td>
                <td>Assigned a task</td>
                <td>Medium</td>
                <td><button  class="btn btn-outline-primary" type="submit" >Mark As Read</button></td>
            </tr>
            <tr>
                <td>john_doe</td>
                <td>1:20PM</td>
                <td>Assigned a task</td>
                <td>Medium</td>
                <td><button  class="btn btn-outline-primary" type="submit" >Mark As Read</button></td>
            </tr>
        </tbody>
    </table>
</div>