<!-- loginpage.component.html -->
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <h4 class="text-primary fs-1">
            Seyyone
          </h4>
          <div class="container mt-3"></div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">UserName</label>
            <input type="text" id="form3Example3" class="form-control form-control-lg" formControlName="username" />
            <div class="error-message-container mt-2">
              <div class="error-message" *ngIf="loginForm.get('username')?.hasError('required') && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                UserName is required.
              </div>
              <div class="error-message" *ngIf="loginForm.get('username')?.hasError('minlength') && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                UserName should have a minimum length of 4 characters.
              </div>
              <div class="error-message" *ngIf="loginForm.get('username')?.hasError('maxlength') && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                UserName should have a maximum length of 20 characters.
              </div>
            </div>
          </div>
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input type="password" id="form3Example4" class="form-control form-control-lg" formControlName="password" />
            <div class="error-message-container mt-2">
              <div class="error-message" *ngIf="loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                Password is required.
              </div>
              <div class="error-message" *ngIf="loginForm.get('password')?.hasError('minlength') && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                Password should have a minimum length of 5 characters.
              </div>
              <!-- You can add additional error messages for password validation here -->
            </div>
          </div>

          <div class="text-center text-lg-center mt-4 pt-2">
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-lg" >Login</button>
            </div>
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
        </form>
      </div>
    </div>
  </div>
</section>
