<app-home></app-home>
<div class="container mt-5"> 
    <h4>Login_Activity</h4>

    <div class="container mt-5"> 

    <table class="table table-striped">
        <thead>
            <!-- <thead class="table-dark"></thead> -->
            <tr>
                <th>Username</th>
                <th>IP Address</th>
                <th>Location</th>
                <th>Token</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          
            <tr>
                <td>user123</td>
                <td>192.168.0.1</td>
                <td>New York, USA</td>
                <td>ABC123XYZ</td>
                <td><button  class="btn btn-outline-primary" type="submit" (click)="revokeToken('ABC123XYZ')">Revoke Token</button></td>
            </tr>
            <tr>
                <td>john_doe</td>
                <td>192.168.0.2</td>
                <td>London, UK</td>
                <td>DEF456UVW</td>
                <td><button  class="btn btn-outline-primary" type="submit" (click)="revokeToken('DEF456UVW')">Revoke Token</button></td>
            </tr>
            
            <tr>
                <td>user123</td>
                <td>192.168.0.1</td>
                <td>New York, USA</td>
                <td>ABC123XYZ</td>
                <td><button class="btn btn-outline-primary" type="submit" (click)="revokeToken('ABC123XYZ')">Revoke Token</button></td>
            </tr>
            <tr>
                <td>john_doe</td>
                <td>192.168.0.2</td>
                <td>London, UK</td>
                <td>DEF456UVW</td>
                <td><button  class="btn btn-outline-primary" type="submit" (click)="revokeToken('DEF456UVW')">Revoke Token</button></td>
            </tr>
            <tr>
                <td>user123</td>
                <td>192.168.0.1</td>
                <td>New York, USA</td>
                <td>ABC123XYZ</td>
                <td><button  class="btn btn-outline-primary" type="submit" (click)="revokeToken('ABC123XYZ')">Revoke Token</button></td>
            </tr>
            <tr>
                <td>john_doe</td>
                <td>192.168.0.2</td>
                <td>London, UK</td>
                <td>DEF456UVW</td>
                <td><button  class="btn btn-outline-primary" type="submit" (click)="revokeToken('DEF456UVW')">Revoke Token</button></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>




