<app-home></app-home>
<div class="col-md-20 mt-20">
    <h3 class="text-dark font-weight-bold" style="margin-left: 20px;margin-top: 10px;">Notes</h3>
  </div>
  
  <div>
    <div class="row">
      <div>
        <button (click)="createNewPage()" class="btn btn-outline-primary btn-sm" style="margin-left: 300px;margin-top: 10px">Create New Notes</button>
      </div>
    </div>
  </div>
  <table class="table table-striped p-0" style="width: 60%; margin: 10px auto;">
    <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
         
          <th>CreatedAt</th>
          <th>ModifiedAt</th>
          <th class="text-left">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes">
          
          <td>{{note.Id}}</td>
          <td><a [routerLink]="['/view', note.Title]">{{ note.Title }}</a></td> 
          <td>{{note.CreatedAt}}</td>
          <td>{{note.ModifiedAt}}</td>
          <td class="text-left">
           
            <button (click)="editPage(note.Id)" class="btn btn-outline-primary btn-sm">Edit</button>
           
            
          </td>
          
        </tr>
      </tbody>
    </table>

  
  
  
  
  
  
    
      
     
    
