
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Task Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

          <!-- Users button -->

          <li class="nav-item dropdown users-btn">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                Admin
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem  ></button>
                <button ngbDropdownItem [routerLink]="['/users']" routerLinkActive="router-link-active" >
                  <fa-icon [icon]="faUser" class="mr-2"></fa-icon> Create User
                </button>                  
                <button ngbDropdownItem [routerLink]="['/loginactivity']" routerLinkActive="router-link-active" >
                  <fa-icon [icon]="faClock" class="mr-2"></fa-icon> Login Activity
                </button>
                <button ngbDropdownItem [routerLink]="['/acl']" routerLinkActive="router-link-active" >
                  <fa-icon [icon]="faShield" class="mr-2"></fa-icon> ACL
                </button>
                <button ngbDropdownItem [routerLink]="['/audit']" routerLinkActive="router-link-active" >
                  <fa-icon [icon]="faShield" class="mr-2"></fa-icon> Audit
                </button>
              </div>
            </div>
          </li>

          <!-- Project button and its dropdown items -->

          <li class="nav-item dropdown">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                Projects
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem></button>
                <button ngbDropdownItem [routerLink]="['/task']" routerLinkActive="router-link-active" >Project 1</button>
                <button ngbDropdownItem>Project 2</button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem routerLink="/create">Create Project </button>
                <button ngbDropdownItem>View all Project</button>
                <button ngbDropdownItem [routerLink]="['/form']">View all Tasks </button>
                <div class="dropdown-divider"></div>


                <button ngbDropdownItem class="nav-item dropdown"  name="drop"(mouseenter)="onMouseLeave()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Report<span class="caret"(mouseenter)="dropDownFun()" ></span></button>
                <div class="dropdown-content nav-item dropdown users-btn" id="mydropdown" aria-labelledby="dropdownMenuButton">
                  <button ngbDropdownItem name="dropTask">Task<span class="sub-caret" (mouseenter)="dropDownFunTask()" (mouseleave)="onMouseLeave()"></span></button>
                  <div class="dropdown-content" id="mydropdowntask" >
                    <button ngbDropdownItem [routerLink]="['/tasktype']">Type</button>
                      <button ngbDropdownItem [routerLink]="['/taskpriority']">Priority</button>
                      <button ngbDropdownItem [routerLink]="['/burndowntask']">Burndown</button>
                  </div>

                  <button ngbDropdownItem  name="dropProject">Project<span class="sub1-caret" (mouseenter)="dropDownFunProject()" (mouseleave)="onMouseLeave()"></span></button>
                  <div class="dropdown-content" id="mydropdownProject" >
                    <button ngbDropdownItem [routerLink]="['/projectpriority']">Priority</button>
                    <button ngbDropdownItem [routerLink]="['/burndownproject']">Burndown</button>
                  </div>
                    

                </div>
                <button ngbDropdownItem [routerLink]="['/chart']" routerLinkActive="router-link-active" >Charts</button>
              </div>
            </div>
          </li>
          

        <!-- Teams button -->

        <li class="nav-item users-btn">
          <button type="button" class="btn btn-outline-primary">Teams</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- Notification icon -->
  
  <div ngbDropdown class="d-inline-block position-relative">
      <button class="dropdown-item" id="profileDropdown"ngbDropdownToggle >
        <fa-icon [icon]="faBell" class="fa-2x"></fa-icon>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-custom ml-2">
        <p ngbDropdownItem>Arunagiri sent Message</p>
        <p ngbDropdownItem>GuhaSaravanan sent Message</p>
        <p ngbDropdownItem>Priya sent Message</p>
        <div class="dropdown-divider"></div>
        <a  class="dropdown-item" [routerLink]="['/notification']" ><button  type="button" class="btn btn-outline-primary ">Show All</button></a>
      </div>
  </div>
  
  <!-- Profile Dropdown items and its icon -->

  <div ngbDropdown class="d-inline-block position-relative">
    <div class="dropdown-divider"></div>
    <button ngbDropdownItem [routerLink]="['/profile']" routerLinkActive="router-link-active">
      <fa-icon [icon]="faUser" class="mr-2"></fa-icon>{{ username }}
    </button>
    <div class="dropdown-divider"></div>
    <button ngbDropdownItem (click)="logout()">
      <fa-icon [icon]="faPower" class="mr-2"></fa-icon> Log Out
    </button>
  </div>

</nav>