.container {
  width: 95%;
 
  margin: 10px auto;
  padding:10px;
}

h1 {
  text-align: center;
}

th:nth-child(1), td:nth-child(1) {
  width: 10%; 
}

th:nth-child(2), td:nth-child(2) {
  width: 10%; 
}

th:nth-child(3), td:nth-child(3) {
  width: 15%; 
}

th:nth-child(4), td:nth-child(4) {
  width: 40%; 
}

form {
  display: flex;
  gap: 10px; 
   
}

 .table th, .table td {
  border: 1px solid #ddd ;
  border-collapse: collapse;
  margin-top: 20px;
  padding: 8px;

}  

.table {
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.g{
  text-align:center;
}

table {
  width: 100%;
  border: 1px solid #ddd ;
  border-collapse: collapse;
  margin-top: 20px;
}

.btn-outline-custom {
  color: #007bff; 
  border-color: #007bff; 
}

.btn-outline-custom:hover {
  color: #fff; 
  background-color: #007bff; 
  border-color: #007bff; 
}



