<div class="container">
    <div class="task-form bg-white rounded p-4 shadow-sm">
        <form class="row g-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="TaskId" class="form-label">TaskID</label>
                    <input type="text" class="form-control" id="TaskId" name="TaskId" [(ngModel)]="TaskId" required>
                </div>
                <div class="form-group">
                    <label for="userId" class="form-label">UserID</label>
                    <input type="text" class="form-control" id="UserId" name="UserId" [(ngModel)]="UserId" required>
                </div>

                <div class="form-group">
                    <label for="Taskname" class="form-label">TaskName</label>
                    <input type="text" class="form-control" id="Taskname" name="Taskname" [(ngModel)]="Taskname" placeholder="Enter Task Name" required>
                </div>

                <div class="form-group">
                    <label for="TaskType" class="form-label">TaskType</label>
                    <select class="form-select" id="TaskType" name="TaskType" [(ngModel)]="TaskType" required>
                        <option value="" disabled selected>--Select--</option>
                        <option value="Create">Create</option>
                        <option value="Bug">Bug</option>
                        <option value="Improvement">Improvement</option>
                        <option value="New Feature">New Feature</option>
                        <option value="Support">Support</option>
                        <option value="Test">Test</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="Priority" class="form-label">Priority</label>
                    <select class="form-select" id="Priority" name="Priority"[(ngModel)]="Priority" required>
                        <option value="" disabled selected>--Select--</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                </div>
                
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="CreatedBy" class="form-label">CreatedBy</label>
                    <input type="text" class="form-control" id="CreatedBy" name="CreatedBy" [(ngModel)]="CreatedBy" required>
                </div>

                <div class="form-group">
                    <label for="StartDate" class="form-label">StartDate</label>
                    <input type="date" class="form-control" id="StartDate" name="StartDate" [(ngModel)]="StartDate" required placeholder="Select start date">
                </div>

                <div class="form-group">
                    <label for="EndDate" class="form-label">EndDate</label>
                    <input type="date" class="form-control" id="EndDate" name="EndDate" [(ngModel)]="EndDate" required placeholder="Select End date">
                </div>

                <div class="form-group">
                    <label for="Status" class="form-label">Status</label>
                    <select class="form-select" id="Status" name="Status" [(ngModel)]="Status" required>
                        <option value="" disabled selected>--Select--</option>
                        <option value="ToDo">ToDo</option>
                        <option value="In-Progress">In Progress</option>
                        <option value="ReOpen">ReOpen</option>
                        <option value="Fixed">Fixed</option>
                        <option value="Completed">Done</option>
                    </select>
                </div>
                

                <div class="form-group">
                    <label for="Description" class="form-label">Description</label>
                    <textarea class="form-control" id="Description" name="Description" [(ngModel)]="Description" required></textarea>
                </div>

                <div class="col-12">
                    <div class="bottom-centered">
                        <button type="button" (click)="addTask()" *ngIf="tsk.TaskId==0" class="btn btn-outline-primary w-100">Create</button>
                    </div>
                    <div class="bottom-centered">
                        <button type="submit" (click)="updateTask()" *ngIf="tsk.TaskId!=0" class="btn btn-outline-primary w-100">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
