<div class="container">
    <div class="task-form bg-white rounded p-4 shadow-sm">
        <form class="row g-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="taskId" class="form-label">Task ID</label>
                    <input type="text" class="form-control" id="taskId" name="taskId" [(ngModel)]="TaskId" required>
                </div>
                <div class="form-group">
                    <label for="userId" class="form-label">User ID</label>
                    <input type="text" class="form-control" id="userId" name="userId" [(ngModel)]="UserId" required>
                </div>

                <div class="form-group">
                    <label for="taskName" class="form-label">Task Name</label>
                    <input type="text" class="form-control" id="taskName" name="taskName" [(ngModel)]="Taskname" placeholder="Enter Task Name" required>
                </div>

                <div class="form-group">
                    <label for="taskType" class="form-label">Task Type</label>
                    <select class="form-select" id="taskType" name="taskType" [(ngModel)]="TaskType" required>
                        <option value="Create">Create</option>
                        <option value="Bug">Bug</option>
                        <option value="Improvement">Improvement</option>
                        <option value="New Feature">New Feature</option>
                        <option value="Support">Support</option>
                        <option value="Test">Test</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="priority" class="form-label">Priority</label>
                    <select class="form-select" id="priority" name="priority" [(ngModel)]="Priority" required>
                        <option value="high">HIGH</option>
                        <option value="medium">MEDIUM</option>
                        <option value="low">LOW</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="createdBy" class="form-label">CreatedBy</label>
                    <input type="text" class="form-control" id="createdBy" name="createdBy" [(ngModel)]="CreatedBy" required>
                </div>

                <div class="form-group">
                    <label for="startDate" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="startDate" name="startDate" [(ngModel)]="StartDate" required>
                </div>

                <div class="form-group">
                    <label for="endDate" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="endDate" name="endDate" [(ngModel)]="EndDate" required>
                </div>

                <div class="form-group">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status" name="status" [(ngModel)]="Status" required>
                        <option value="pending">ToDo</option>
                        <option value="in-progress">In Progress</option>
                        <option value="reopen">ReOpen</option>
                        <option value="fixed">Fixed</option>
                        <option value="completed">Done</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" [(ngModel)]="Description" required></textarea>
                </div>

                <div class="col-12">
                    <div class="modal-footer">
                        <button type="button" (click)="addTask()" class="btn btn-primary">Create</button>
                    </div>
                    <div class="bottom-centered">
                        <button type="submit" (click)="updateTask()" class="btn btn-outline-primary w-100">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
